.inputOptions{
    display: flex;
    margin-top:15px;
    color: gray;
    padding:10px;
    cursor:pointer;
    align-items: center;
}
.inputOptions:hover{
    color: black;
}
.inputOptions > h4{
    margin-left: 5px;
}